<section class="product__card">
  <div class="product__card__img__wrapper">
    <img [src]="product?.ProductImg" [alt]="product?.ProductName">
  </div>
  <div class="product__card__content p-3">
    <h5 class="product__card__content__name">{{product?.ProductName}}</h5>
    <div class="d-flex justify-content-between align-items-center">
      <p class=" fw-bold product__card__content__price">{{product?.ProductPrice | currency}}</p>
      <p class="fw-bold">QTY: {{product?.AvailablePieces}}</p>
    </div>
    <button class="product__card__content__cart__add">Add To Cart</button>
  </div>
</section>